#home-page {}

header {}

#time {
    position: absolute;
    top: 10px;
    right: 70px;
}

#time-number {
    position: absolute;
    top: 10px;
    right: 40px;
}

.question-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    padding: 100px;
    text-align: center;
}

.real-center {
    text-align: center;
}

.bold {
    padding: 10px;
}

button {
    padding: 10px 40px;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

footer {
    text-align: center;
    font-size: 20px;
    color: darkgray;
}

hr {
    width: 1000px;
}

#hide-footer {
    display: none;
}

/* This is the pages */


#one-page {
    display: none;
}

ul {
    list-style: none;
    margin: 100px 800px;
}

.title {
    padding: 10px;
}


#two-page {
    display: none;
}

#three-page {
    display: none;
}

#four-page {
    display: none;
}

#five-page {
    display: none;
}

#winning-page {
    display: none;
}

#highscore-page {
    display: none;
}

#highscore-list {
    background-color: rgb(52, 63, 72);
    color: rgb(202, 226, 247);
    border-radius: 4px;
    justify-content: left;
    padding: 4% 5%;
    width: 200px;
    display: grid;
    margin: 3%;
}